<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CartaX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="{{ url_for('static', path='/css/write_letter.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/generalBase.css') }}" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="../static/images/favicon.svg">
    {% block  head_css%}
    {% endblock %}
</head>

<body>

    <!-- {% include "/auth/logout.html" %} -->
    {% include "/header.html" %}
    {% block conteudo %}
    {% endblock %}

    {% include "menu.html" %}


    <script>
        document.getElementById('btn-logout').addEventListener('click', async () => {
            try {
                // 1. Chama a rota de logout no backend
                const response = await fetch('/auth/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
    
                // 2. Se o backend confirmou que matou o cookie...
                if (response.ok) {
                    const data = await response.json();
                    // 3. Redireciona o usuário para o login
                    window.location.href = data.redirect_url || "/auth/login";
                }
            } catch (error) {
                console.error("Erro ao tentar sair:", error);
                // Fallback: Redireciona mesmo se der erro, por segurança
                window.location.href = "/auth/login";
            }
        });
    </script>
</body>

</html>