{% extends "base.html" %}

{% block conteudo %}


<div class="inbox-container">
    <h2 class="page-title">Minha Caixa de Saída</h2>
    <div class="filterOptions">
        <span onclick="addFilter(event)" data-index="0" class="checked">Entregues</span>
        <span onclick="addFilter(event)" data-index="1">Á caminho</span>
        <span onclick="addFilter(event)" data-index="2">Rascunho</span>
    </div>
    <div class="inbox-wrapper">
    <div id="inbox-grid" class="envelope-container"></div>

    <div id="empty-state" class="empty-state" style="display: none;">
        <i class="ph ph-mailbox" style="font-size: 4rem; color: rgb(146, 4, 4);"></i>
        <p>Sua caixa de saída está vazia...</p>
        <a href="/app/write_letter" class="btn-write">Escrever Carta</a>
    </div>
    <div class="viewer">
        <div class="paper"></div>
    </div>
    </div>

</div>

<script src="{{ url_for('static', path='/js/outbox.js') }}"></script>
{% endblock  %}