{% extends "base.html" %} {% block conteudo %} 
<div class="table-bg">
  <div class="paper">
    <form id="paper">
      <div class="recipient-container">
        <label class="recipient-label">Caro(a)</label>
        <input type="text" class="letter-input" placeholder="Nome do destinatário..." autocomplete="off" id="recipient-id">
    </div>
      <textarea
        name="mensagem"
        id="message"
        class="letter-textarea"
        placeholder="Querido amigo..."
      ></textarea>
      <div class="LetterOptions">

        <i class="ph ph-floppy-disk-back" title="Salvar rascunho" onclick="sendToDraft()"></i>
        <i class="ph ph-broom" title="limpar" onclick="clearForm()"></i>
      </div>
      <div class="rodape">
        <!-- <button  type="submit" class="btn-stamp">Selar Carta</button> -->
        <button  class="btn-stamp" onclick="sendedLetterAnimation()">Selar Carta</button>

      </div>
      <span id="error-msg" class="error-msg"></span>
    </form>
  </div>
</div>


<script src="{{ url_for('static', path='/js/write.js') }}"></script>

{% endblock %}
